.backdrop {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
}

.modal {
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  max-width: 500px;
  background: #fff;
  z-index: 10;
}